$maincolor: black;
$constrastcolor: white;

@mixin white-text-black-bg {
    color: $constrastcolor;
    background-color: $maincolor;
}

@mixin black-test-white-bg {
    color: $maincolor;
    background-color: $constrastcolor;
}

nav {
    @include white-text-black-bg; 
    display: flex;
    justify-content: flex-start;

a {
    @include white-text-black-bg;
    div {
        margin: 10px;
        font-size: large;
    }
}
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

$imagesize: 300px;
$cardpadding: 10px;

img {
  width: $imagesize;
  height: $imagesize;
  border-radius: 90px;
  object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc($imagesize + $cardpadding), max-content));
    grid-gap: 16px;
    justify-content: center;

    .card {
        border: 1px black solid;
        border-radius: 5px;
        padding: $cardpadding;
    }
}


section,
div{
    form{
        input{
            @include white-text-black-bg();
            padding: 10px;
            font-size: 1.1em;
            margin: 10px;


            &[type="submit"]:hover{
                @include black-test-white-bg()
            }
        }
    }
}

